<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Exchange</title>
</head>
<body>
    <h1>
        Currency Exchange
    </h1>
    <form action="/convert" method="post">
        <div> From: 
            <select class = "form-select" name="currencySrc">
            <option th:each="a : ${currencyname}" th:text="${a}"></option>
            </select>
        </div>
        <div> To:
            <select class = "form-select" name="currencyDst">
                <option th:each="a : ${currencyname}" th:text="${a}"></option>
            </select>
        </div>
        <div> Amount
            <input type ="text" name="amount">
        </div>
        <input type="submit" value="Convert">
    </form>
    
    
</body>
</html>